<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="/public/main.css" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('nav.html') %>
    <div class="container">
      <h3 class="mt-4"><strong>리스트</strong></h3>
      <div class="input-group mb-2">
        <input class="form-control" id="search-input">
        <button class="input-group-append btn btn-danger" id="search">검색</button>
      </div>
      <ul class="list-group">
        <% posts.map((post)=>{ %>
        <li class="list-group-item">
          <h4><a href="detail/<%= post._id %>">오늘의 할일 : <%= post.title %></a></h4>
          <p>세부내용: <%= post.details %></p>
          <button class="delete btn btn-primary" data-id="<%= post._id %>">삭제</button>
          <button class="edit btn btn-primary" data-id="<%= post._id %>">수정</button>
        </li>
        <% }) %>
      </ul>
    </div>  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
      $('.delete').click(function(e){
        $.ajax({
          method : 'DELETE',
          url : '/delete',
          data : { _id : e.target.dataset.id }
        }).done((결과)=>{
          $(this).parent('li').fadeOut();
        }).fail((xhr,code,err)=>{
        });
      });
      $('.edit').click(function(e){ 
        window.location.href = `/edit/${e.target.dataset.id}`;
      });
      $('.aaa').click(function(e){
        let id = e.target.siblings('button').dataset.id;
        window.location.href = `/detail/${id}`;
      });
      $('#search').click(function(e){
        let val = $('#search-input').val();
        console.log(val)
        window.location.replace('/search?value=' + val)
      });
    </script>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>